$logo: ("nav": url(../../media/image/logo-nav.svg))

@each $version, $i in $logo
    .logo__
        &#{$version}
            background-image: $i
            background-repeat: no-repeat
            height: 50px
            width: 110px
            margin-top: 25px