
.ml16, .ml13 {
    color: black;
    padding: 40px 0;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.4em;
    overflow: hidden;
    white-space: pre-line;
}

.ml16, .ml13, .letter {
    display: inline-block;
    line-height: 1em;
}

