@charset "UTF-8";
/* background.css */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/08/28 */
.bg__verth:hover {
  background-color: #124221;
  color: white;
}
.bg__vert {
  background-color: #124221;
}
.bg__vert--pad1 {
  padding: 1%;
  background-color: #124221;
}
.bg__vert--pad2 {
  padding: 2%;
  background-color: #124221;
}
.bg__vert--pad3 {
  padding: 3%;
  background-color: #124221;
}
.bg__vert--pad4 {
  padding: 4%;
  background-color: #124221;
}
.bg__vert--pad5 {
  padding: 5%;
  background-color: #124221;
}
.bg__vert--pad6 {
  padding: 6%;
  background-color: #124221;
}
.bg__vert--pad7 {
  padding: 7%;
  background-color: #124221;
}
.bg__vert--pad8 {
  padding: 8%;
  background-color: #124221;
}
.bg__vert--pad9 {
  padding: 9%;
  background-color: #124221;
}
.bg__vert--pad10 {
  padding: 10%;
  background-color: #124221;
}
.bg__vert--pad11 {
  padding: 11%;
  background-color: #124221;
}
.bg__vert--pad12 {
  padding: 12%;
  background-color: #124221;
}
.bg__vert--pad13 {
  padding: 13%;
  background-color: #124221;
}
.bg__vert--pad14 {
  padding: 14%;
  background-color: #124221;
}
.bg__vert--pad15 {
  padding: 15%;
  background-color: #124221;
}
.bg__vert--pad16 {
  padding: 16%;
  background-color: #124221;
}
.bg__vert--pad17 {
  padding: 17%;
  background-color: #124221;
}
.bg__vert--pad18 {
  padding: 18%;
  background-color: #124221;
}
.bg__vert--pad19 {
  padding: 19%;
  background-color: #124221;
}
.bg__vert--pad20 {
  padding: 20%;
  background-color: #124221;
}
.bg__vert--pad21 {
  padding: 21%;
  background-color: #124221;
}
.bg__vert--pad22 {
  padding: 22%;
  background-color: #124221;
}
.bg__vert--pad23 {
  padding: 23%;
  background-color: #124221;
}
.bg__vert--pad24 {
  padding: 24%;
  background-color: #124221;
}
.bg__vert--pad25 {
  padding: 25%;
  background-color: #124221;
}
.bg__vert--pad26 {
  padding: 26%;
  background-color: #124221;
}
.bg__vert--pad27 {
  padding: 27%;
  background-color: #124221;
}
.bg__vert--pad28 {
  padding: 28%;
  background-color: #124221;
}
.bg__vert--pad29 {
  padding: 29%;
  background-color: #124221;
}
.bg__vert--pad30 {
  padding: 30%;
  background-color: #124221;
}
.bg__vert--pad31 {
  padding: 31%;
  background-color: #124221;
}
.bg__vert--pad32 {
  padding: 32%;
  background-color: #124221;
}
.bg__vert--pad33 {
  padding: 33%;
  background-color: #124221;
}
.bg__vert--pad34 {
  padding: 34%;
  background-color: #124221;
}
.bg__vert--pad35 {
  padding: 35%;
  background-color: #124221;
}
.bg__vert--pad36 {
  padding: 36%;
  background-color: #124221;
}
.bg__vert--pad37 {
  padding: 37%;
  background-color: #124221;
}
.bg__vert--pad38 {
  padding: 38%;
  background-color: #124221;
}
.bg__vert--pad39 {
  padding: 39%;
  background-color: #124221;
}
.bg__vert--pad40 {
  padding: 40%;
  background-color: #124221;
}
.bg__vert--pad41 {
  padding: 41%;
  background-color: #124221;
}
.bg__vert--pad42 {
  padding: 42%;
  background-color: #124221;
}
.bg__vert--pad43 {
  padding: 43%;
  background-color: #124221;
}
.bg__vert--pad44 {
  padding: 44%;
  background-color: #124221;
}
.bg__vert--pad45 {
  padding: 45%;
  background-color: #124221;
}
.bg__vert--pad46 {
  padding: 46%;
  background-color: #124221;
}
.bg__vert--pad47 {
  padding: 47%;
  background-color: #124221;
}
.bg__vert--pad48 {
  padding: 48%;
  background-color: #124221;
}
.bg__vert--pad49 {
  padding: 49%;
  background-color: #124221;
}
.bg__vert--pad50 {
  padding: 50%;
  background-color: #124221;
}
.bg__matrix {
  background-image: url(../../media/image/matrix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg__diagonale {
  background-image: url(../../media/image/couleur_diagonale.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg__maxime {
  background-image: url(../../media/image/maxime.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg__offline {
  background-image: url(../../media/image/404.png);
  background-repeat: no-repeat;
  background-size: cover;
}