/* Bouton Stylisé */

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
box-sizing: border-box;
}

.wrapper {
display: flex;
justify-content: center;
}

.cta {    
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #3b5998;
    background: #42acec;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span {
    transform: skewX(15deg) 
}

span:nth-child(2) {
    width: 10px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}