@charset "UTF-8";
/* couleurs.css */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/08/28 */
.couleur__blanc {
  color: white;
}

.couleur__mauve {
  color: purple;
}

.couleur__noir {
  color: black;
}