@charset "UTF-8";
/* police.css */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/08/28 */
/* IMAGE */
.img__50 {
  width: 50px;
  height: auto;
}
@media (min-width: 558px) {
  .img__50xs {
    width: 50px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__50sm {
    width: 50px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__50md {
    width: 50px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__50lg {
    width: 50px;
    height: auto;
  }
}
.img__100 {
  width: 100px;
  height: auto;
}
@media (min-width: 558px) {
  .img__100xs {
    width: 100px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__100sm {
    width: 100px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__100md {
    width: 100px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__100lg {
    width: 100px;
    height: auto;
  }
}
.img__150 {
  width: 150px;
  height: auto;
}
@media (min-width: 558px) {
  .img__150xs {
    width: 150px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__150sm {
    width: 150px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__150md {
    width: 150px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__150lg {
    width: 150px;
    height: auto;
  }
}
.img__200 {
  width: 200px;
  height: auto;
}
@media (min-width: 558px) {
  .img__200xs {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__200sm {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__200md {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__200lg {
    width: 200px;
    height: auto;
  }
}
.img__250 {
  width: 250px;
  height: auto;
}
@media (min-width: 558px) {
  .img__250xs {
    width: 250px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__250sm {
    width: 250px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__250md {
    width: 250px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__250lg {
    width: 250px;
    height: auto;
  }
}
.img__300 {
  width: 300px;
  height: auto;
}
@media (min-width: 558px) {
  .img__300xs {
    width: 300px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__300sm {
    width: 300px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__300md {
    width: 300px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__300lg {
    width: 300px;
    height: auto;
  }
}
.img__350 {
  width: 350px;
  height: auto;
}
@media (min-width: 558px) {
  .img__350xs {
    width: 350px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__350sm {
    width: 350px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__350md {
    width: 350px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__350lg {
    width: 350px;
    height: auto;
  }
}
.img__400 {
  width: 400px;
  height: auto;
}
@media (min-width: 558px) {
  .img__400xs {
    width: 400px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__400sm {
    width: 400px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__400md {
    width: 400px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__400lg {
    width: 400px;
    height: auto;
  }
}
.img__450 {
  width: 450px;
  height: auto;
}
@media (min-width: 558px) {
  .img__450xs {
    width: 450px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__450sm {
    width: 450px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__450md {
    width: 450px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__450lg {
    width: 450px;
    height: auto;
  }
}
.img__500 {
  width: 500px;
  height: auto;
}
@media (min-width: 558px) {
  .img__500xs {
    width: 500px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__500sm {
    width: 500px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__500md {
    width: 500px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__500lg {
    width: 500px;
    height: auto;
  }
}
.img__550 {
  width: 550px;
  height: auto;
}
@media (min-width: 558px) {
  .img__550xs {
    width: 550px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__550sm {
    width: 550px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__550md {
    width: 550px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__550lg {
    width: 550px;
    height: auto;
  }
}
.img__600 {
  width: 600px;
  height: auto;
}
@media (min-width: 558px) {
  .img__600xs {
    width: 600px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__600sm {
    width: 600px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__600md {
    width: 600px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__600lg {
    width: 600px;
    height: auto;
  }
}
.img__650 {
  width: 650px;
  height: auto;
}
@media (min-width: 558px) {
  .img__650xs {
    width: 650px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__650sm {
    width: 650px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__650md {
    width: 650px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__650lg {
    width: 650px;
    height: auto;
  }
}
.img__700 {
  width: 700px;
  height: auto;
}
@media (min-width: 558px) {
  .img__700xs {
    width: 700px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__700sm {
    width: 700px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__700md {
    width: 700px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__700lg {
    width: 700px;
    height: auto;
  }
}
.img__750 {
  width: 750px;
  height: auto;
}
@media (min-width: 558px) {
  .img__750xs {
    width: 750px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__750sm {
    width: 750px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__750md {
    width: 750px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__750lg {
    width: 750px;
    height: auto;
  }
}
.img__800 {
  width: 800px;
  height: auto;
}
@media (min-width: 558px) {
  .img__800xs {
    width: 800px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__800sm {
    width: 800px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__800md {
    width: 800px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__800lg {
    width: 800px;
    height: auto;
  }
}
.img__850 {
  width: 850px;
  height: auto;
}
@media (min-width: 558px) {
  .img__850xs {
    width: 850px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__850sm {
    width: 850px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__850md {
    width: 850px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__850lg {
    width: 850px;
    height: auto;
  }
}
.img__900 {
  width: 900px;
  height: auto;
}
@media (min-width: 558px) {
  .img__900xs {
    width: 900px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__900sm {
    width: 900px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__900md {
    width: 900px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__900lg {
    width: 900px;
    height: auto;
  }
}
.img__950 {
  width: 950px;
  height: auto;
}
@media (min-width: 558px) {
  .img__950xs {
    width: 950px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__950sm {
    width: 950px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__950md {
    width: 950px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__950lg {
    width: 950px;
    height: auto;
  }
}
.img__1000 {
  width: 1000px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1000xs {
    width: 1000px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1000sm {
    width: 1000px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1000md {
    width: 1000px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1000lg {
    width: 1000px;
    height: auto;
  }
}
.img__1050 {
  width: 1050px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1050xs {
    width: 1050px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1050sm {
    width: 1050px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1050md {
    width: 1050px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1050lg {
    width: 1050px;
    height: auto;
  }
}
.img__1100 {
  width: 1100px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1100xs {
    width: 1100px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1100sm {
    width: 1100px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1100md {
    width: 1100px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1100lg {
    width: 1100px;
    height: auto;
  }
}
.img__1150 {
  width: 1150px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1150xs {
    width: 1150px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1150sm {
    width: 1150px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1150md {
    width: 1150px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1150lg {
    width: 1150px;
    height: auto;
  }
}
.img__1200 {
  width: 1200px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1200xs {
    width: 1200px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1200sm {
    width: 1200px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1200md {
    width: 1200px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1200lg {
    width: 1200px;
    height: auto;
  }
}
.img__1250 {
  width: 1250px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1250xs {
    width: 1250px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1250sm {
    width: 1250px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1250md {
    width: 1250px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1250lg {
    width: 1250px;
    height: auto;
  }
}
.img__1300 {
  width: 1300px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1300xs {
    width: 1300px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1300sm {
    width: 1300px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1300md {
    width: 1300px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1300lg {
    width: 1300px;
    height: auto;
  }
}
.img__1350 {
  width: 1350px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1350xs {
    width: 1350px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1350sm {
    width: 1350px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1350md {
    width: 1350px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1350lg {
    width: 1350px;
    height: auto;
  }
}
.img__1400 {
  width: 1400px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1400xs {
    width: 1400px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1400sm {
    width: 1400px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1400md {
    width: 1400px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1400lg {
    width: 1400px;
    height: auto;
  }
}
.img__1450 {
  width: 1450px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1450xs {
    width: 1450px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1450sm {
    width: 1450px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1450md {
    width: 1450px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1450lg {
    width: 1450px;
    height: auto;
  }
}
.img__1500 {
  width: 1500px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1500xs {
    width: 1500px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1500sm {
    width: 1500px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1500md {
    width: 1500px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1500lg {
    width: 1500px;
    height: auto;
  }
}
.img__1550 {
  width: 1550px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1550xs {
    width: 1550px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1550sm {
    width: 1550px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1550md {
    width: 1550px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1550lg {
    width: 1550px;
    height: auto;
  }
}
.img__1600 {
  width: 1600px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1600xs {
    width: 1600px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1600sm {
    width: 1600px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1600md {
    width: 1600px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1600lg {
    width: 1600px;
    height: auto;
  }
}
.img__1650 {
  width: 1650px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1650xs {
    width: 1650px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1650sm {
    width: 1650px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1650md {
    width: 1650px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1650lg {
    width: 1650px;
    height: auto;
  }
}
.img__1700 {
  width: 1700px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1700xs {
    width: 1700px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1700sm {
    width: 1700px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1700md {
    width: 1700px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1700lg {
    width: 1700px;
    height: auto;
  }
}
.img__1750 {
  width: 1750px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1750xs {
    width: 1750px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1750sm {
    width: 1750px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1750md {
    width: 1750px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1750lg {
    width: 1750px;
    height: auto;
  }
}
.img__1800 {
  width: 1800px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1800xs {
    width: 1800px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1800sm {
    width: 1800px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1800md {
    width: 1800px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1800lg {
    width: 1800px;
    height: auto;
  }
}
.img__1850 {
  width: 1850px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1850xs {
    width: 1850px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1850sm {
    width: 1850px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1850md {
    width: 1850px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1850lg {
    width: 1850px;
    height: auto;
  }
}
.img__1900 {
  width: 1900px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1900xs {
    width: 1900px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1900sm {
    width: 1900px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1900md {
    width: 1900px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1900lg {
    width: 1900px;
    height: auto;
  }
}
.img__1950 {
  width: 1950px;
  height: auto;
}
@media (min-width: 558px) {
  .img__1950xs {
    width: 1950px;
    height: auto;
  }
}
@media (min-width: 576px) {
  .img__1950sm {
    width: 1950px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .img__1950md {
    width: 1950px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .img__1950lg {
    width: 1950px;
    height: auto;
  }
}