@charset "UTF-8";
/* police.css */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/08/28 */
/* IMAGE */
.img__50 {
  width: 50px;
  height: auto;
}
.img__50sm {
  width: 50px;
  height: auto;
}
.img__50md {
  width: 50px;
  height: auto;
}
.img__50lg {
  width: 50px;
  height: auto;
}
.img__50u {
  width: 50px;
  height: auto;
}
.img__50b {
  width: 50px;
  height: auto;
}
.img__100 {
  width: 100px;
  height: auto;
}
.img__100sm {
  width: 100px;
  height: auto;
}
.img__100md {
  width: 100px;
  height: auto;
}
.img__100lg {
  width: 100px;
  height: auto;
}
.img__100u {
  width: 100px;
  height: auto;
}
.img__100b {
  width: 100px;
  height: auto;
}
.img__150 {
  width: 150px;
  height: auto;
}
.img__150sm {
  width: 150px;
  height: auto;
}
.img__150md {
  width: 150px;
  height: auto;
}
.img__150lg {
  width: 150px;
  height: auto;
}
.img__150u {
  width: 150px;
  height: auto;
}
.img__150b {
  width: 150px;
  height: auto;
}
.img__200 {
  width: 200px;
  height: auto;
}
.img__200sm {
  width: 200px;
  height: auto;
}
.img__200md {
  width: 200px;
  height: auto;
}
.img__200lg {
  width: 200px;
  height: auto;
}
.img__200u {
  width: 200px;
  height: auto;
}
.img__200b {
  width: 200px;
  height: auto;
}
.img__250 {
  width: 250px;
  height: auto;
}
.img__250sm {
  width: 250px;
  height: auto;
}
.img__250md {
  width: 250px;
  height: auto;
}
.img__250lg {
  width: 250px;
  height: auto;
}
.img__250u {
  width: 250px;
  height: auto;
}
.img__250b {
  width: 250px;
  height: auto;
}
.img__300 {
  width: 300px;
  height: auto;
}
.img__300sm {
  width: 300px;
  height: auto;
}
.img__300md {
  width: 300px;
  height: auto;
}
.img__300lg {
  width: 300px;
  height: auto;
}
.img__300u {
  width: 300px;
  height: auto;
}
.img__300b {
  width: 300px;
  height: auto;
}
.img__350 {
  width: 350px;
  height: auto;
}
.img__350sm {
  width: 350px;
  height: auto;
}
.img__350md {
  width: 350px;
  height: auto;
}
.img__350lg {
  width: 350px;
  height: auto;
}
.img__350u {
  width: 350px;
  height: auto;
}
.img__350b {
  width: 350px;
  height: auto;
}
.img__400 {
  width: 400px;
  height: auto;
}
.img__400sm {
  width: 400px;
  height: auto;
}
.img__400md {
  width: 400px;
  height: auto;
}
.img__400lg {
  width: 400px;
  height: auto;
}
.img__400u {
  width: 400px;
  height: auto;
}
.img__400b {
  width: 400px;
  height: auto;
}
.img__450 {
  width: 450px;
  height: auto;
}
.img__450sm {
  width: 450px;
  height: auto;
}
.img__450md {
  width: 450px;
  height: auto;
}
.img__450lg {
  width: 450px;
  height: auto;
}
.img__450u {
  width: 450px;
  height: auto;
}
.img__450b {
  width: 450px;
  height: auto;
}
.img__500 {
  width: 500px;
  height: auto;
}
.img__500sm {
  width: 500px;
  height: auto;
}
.img__500md {
  width: 500px;
  height: auto;
}
.img__500lg {
  width: 500px;
  height: auto;
}
.img__500u {
  width: 500px;
  height: auto;
}
.img__500b {
  width: 500px;
  height: auto;
}
.img__550 {
  width: 550px;
  height: auto;
}
.img__550sm {
  width: 550px;
  height: auto;
}
.img__550md {
  width: 550px;
  height: auto;
}
.img__550lg {
  width: 550px;
  height: auto;
}
.img__550u {
  width: 550px;
  height: auto;
}
.img__550b {
  width: 550px;
  height: auto;
}
.img__600 {
  width: 600px;
  height: auto;
}
.img__600sm {
  width: 600px;
  height: auto;
}
.img__600md {
  width: 600px;
  height: auto;
}
.img__600lg {
  width: 600px;
  height: auto;
}
.img__600u {
  width: 600px;
  height: auto;
}
.img__600b {
  width: 600px;
  height: auto;
}
.img__650 {
  width: 650px;
  height: auto;
}
.img__650sm {
  width: 650px;
  height: auto;
}
.img__650md {
  width: 650px;
  height: auto;
}
.img__650lg {
  width: 650px;
  height: auto;
}
.img__650u {
  width: 650px;
  height: auto;
}
.img__650b {
  width: 650px;
  height: auto;
}
.img__700 {
  width: 700px;
  height: auto;
}
.img__700sm {
  width: 700px;
  height: auto;
}
.img__700md {
  width: 700px;
  height: auto;
}
.img__700lg {
  width: 700px;
  height: auto;
}
.img__700u {
  width: 700px;
  height: auto;
}
.img__700b {
  width: 700px;
  height: auto;
}
.img__750 {
  width: 750px;
  height: auto;
}
.img__750sm {
  width: 750px;
  height: auto;
}
.img__750md {
  width: 750px;
  height: auto;
}
.img__750lg {
  width: 750px;
  height: auto;
}
.img__750u {
  width: 750px;
  height: auto;
}
.img__750b {
  width: 750px;
  height: auto;
}
.img__800 {
  width: 800px;
  height: auto;
}
.img__800sm {
  width: 800px;
  height: auto;
}
.img__800md {
  width: 800px;
  height: auto;
}
.img__800lg {
  width: 800px;
  height: auto;
}
.img__800u {
  width: 800px;
  height: auto;
}
.img__800b {
  width: 800px;
  height: auto;
}
.img__850 {
  width: 850px;
  height: auto;
}
.img__850sm {
  width: 850px;
  height: auto;
}
.img__850md {
  width: 850px;
  height: auto;
}
.img__850lg {
  width: 850px;
  height: auto;
}
.img__850u {
  width: 850px;
  height: auto;
}
.img__850b {
  width: 850px;
  height: auto;
}
.img__900 {
  width: 900px;
  height: auto;
}
.img__900sm {
  width: 900px;
  height: auto;
}
.img__900md {
  width: 900px;
  height: auto;
}
.img__900lg {
  width: 900px;
  height: auto;
}
.img__900u {
  width: 900px;
  height: auto;
}
.img__900b {
  width: 900px;
  height: auto;
}
.img__950 {
  width: 950px;
  height: auto;
}
.img__950sm {
  width: 950px;
  height: auto;
}
.img__950md {
  width: 950px;
  height: auto;
}
.img__950lg {
  width: 950px;
  height: auto;
}
.img__950u {
  width: 950px;
  height: auto;
}
.img__950b {
  width: 950px;
  height: auto;
}
.img__1000 {
  width: 1000px;
  height: auto;
}
.img__1000sm {
  width: 1000px;
  height: auto;
}
.img__1000md {
  width: 1000px;
  height: auto;
}
.img__1000lg {
  width: 1000px;
  height: auto;
}
.img__1000u {
  width: 1000px;
  height: auto;
}
.img__1000b {
  width: 1000px;
  height: auto;
}
.img__1050 {
  width: 1050px;
  height: auto;
}
.img__1050sm {
  width: 1050px;
  height: auto;
}
.img__1050md {
  width: 1050px;
  height: auto;
}
.img__1050lg {
  width: 1050px;
  height: auto;
}
.img__1050u {
  width: 1050px;
  height: auto;
}
.img__1050b {
  width: 1050px;
  height: auto;
}
.img__1100 {
  width: 1100px;
  height: auto;
}
.img__1100sm {
  width: 1100px;
  height: auto;
}
.img__1100md {
  width: 1100px;
  height: auto;
}
.img__1100lg {
  width: 1100px;
  height: auto;
}
.img__1100u {
  width: 1100px;
  height: auto;
}
.img__1100b {
  width: 1100px;
  height: auto;
}
.img__1150 {
  width: 1150px;
  height: auto;
}
.img__1150sm {
  width: 1150px;
  height: auto;
}
.img__1150md {
  width: 1150px;
  height: auto;
}
.img__1150lg {
  width: 1150px;
  height: auto;
}
.img__1150u {
  width: 1150px;
  height: auto;
}
.img__1150b {
  width: 1150px;
  height: auto;
}
.img__1200 {
  width: 1200px;
  height: auto;
}
.img__1200sm {
  width: 1200px;
  height: auto;
}
.img__1200md {
  width: 1200px;
  height: auto;
}
.img__1200lg {
  width: 1200px;
  height: auto;
}
.img__1200u {
  width: 1200px;
  height: auto;
}
.img__1200b {
  width: 1200px;
  height: auto;
}
.img__1250 {
  width: 1250px;
  height: auto;
}
.img__1250sm {
  width: 1250px;
  height: auto;
}
.img__1250md {
  width: 1250px;
  height: auto;
}
.img__1250lg {
  width: 1250px;
  height: auto;
}
.img__1250u {
  width: 1250px;
  height: auto;
}
.img__1250b {
  width: 1250px;
  height: auto;
}
.img__1300 {
  width: 1300px;
  height: auto;
}
.img__1300sm {
  width: 1300px;
  height: auto;
}
.img__1300md {
  width: 1300px;
  height: auto;
}
.img__1300lg {
  width: 1300px;
  height: auto;
}
.img__1300u {
  width: 1300px;
  height: auto;
}
.img__1300b {
  width: 1300px;
  height: auto;
}
.img__1350 {
  width: 1350px;
  height: auto;
}
.img__1350sm {
  width: 1350px;
  height: auto;
}
.img__1350md {
  width: 1350px;
  height: auto;
}
.img__1350lg {
  width: 1350px;
  height: auto;
}
.img__1350u {
  width: 1350px;
  height: auto;
}
.img__1350b {
  width: 1350px;
  height: auto;
}
.img__1400 {
  width: 1400px;
  height: auto;
}
.img__1400sm {
  width: 1400px;
  height: auto;
}
.img__1400md {
  width: 1400px;
  height: auto;
}
.img__1400lg {
  width: 1400px;
  height: auto;
}
.img__1400u {
  width: 1400px;
  height: auto;
}
.img__1400b {
  width: 1400px;
  height: auto;
}
.img__1450 {
  width: 1450px;
  height: auto;
}
.img__1450sm {
  width: 1450px;
  height: auto;
}
.img__1450md {
  width: 1450px;
  height: auto;
}
.img__1450lg {
  width: 1450px;
  height: auto;
}
.img__1450u {
  width: 1450px;
  height: auto;
}
.img__1450b {
  width: 1450px;
  height: auto;
}
.img__1500 {
  width: 1500px;
  height: auto;
}
.img__1500sm {
  width: 1500px;
  height: auto;
}
.img__1500md {
  width: 1500px;
  height: auto;
}
.img__1500lg {
  width: 1500px;
  height: auto;
}
.img__1500u {
  width: 1500px;
  height: auto;
}
.img__1500b {
  width: 1500px;
  height: auto;
}
.img__1550 {
  width: 1550px;
  height: auto;
}
.img__1550sm {
  width: 1550px;
  height: auto;
}
.img__1550md {
  width: 1550px;
  height: auto;
}
.img__1550lg {
  width: 1550px;
  height: auto;
}
.img__1550u {
  width: 1550px;
  height: auto;
}
.img__1550b {
  width: 1550px;
  height: auto;
}
.img__1600 {
  width: 1600px;
  height: auto;
}
.img__1600sm {
  width: 1600px;
  height: auto;
}
.img__1600md {
  width: 1600px;
  height: auto;
}
.img__1600lg {
  width: 1600px;
  height: auto;
}
.img__1600u {
  width: 1600px;
  height: auto;
}
.img__1600b {
  width: 1600px;
  height: auto;
}
.img__1650 {
  width: 1650px;
  height: auto;
}
.img__1650sm {
  width: 1650px;
  height: auto;
}
.img__1650md {
  width: 1650px;
  height: auto;
}
.img__1650lg {
  width: 1650px;
  height: auto;
}
.img__1650u {
  width: 1650px;
  height: auto;
}
.img__1650b {
  width: 1650px;
  height: auto;
}
.img__1700 {
  width: 1700px;
  height: auto;
}
.img__1700sm {
  width: 1700px;
  height: auto;
}
.img__1700md {
  width: 1700px;
  height: auto;
}
.img__1700lg {
  width: 1700px;
  height: auto;
}
.img__1700u {
  width: 1700px;
  height: auto;
}
.img__1700b {
  width: 1700px;
  height: auto;
}
.img__1750 {
  width: 1750px;
  height: auto;
}
.img__1750sm {
  width: 1750px;
  height: auto;
}
.img__1750md {
  width: 1750px;
  height: auto;
}
.img__1750lg {
  width: 1750px;
  height: auto;
}
.img__1750u {
  width: 1750px;
  height: auto;
}
.img__1750b {
  width: 1750px;
  height: auto;
}
.img__1800 {
  width: 1800px;
  height: auto;
}
.img__1800sm {
  width: 1800px;
  height: auto;
}
.img__1800md {
  width: 1800px;
  height: auto;
}
.img__1800lg {
  width: 1800px;
  height: auto;
}
.img__1800u {
  width: 1800px;
  height: auto;
}
.img__1800b {
  width: 1800px;
  height: auto;
}
.img__1850 {
  width: 1850px;
  height: auto;
}
.img__1850sm {
  width: 1850px;
  height: auto;
}
.img__1850md {
  width: 1850px;
  height: auto;
}
.img__1850lg {
  width: 1850px;
  height: auto;
}
.img__1850u {
  width: 1850px;
  height: auto;
}
.img__1850b {
  width: 1850px;
  height: auto;
}
.img__1900 {
  width: 1900px;
  height: auto;
}
.img__1900sm {
  width: 1900px;
  height: auto;
}
.img__1900md {
  width: 1900px;
  height: auto;
}
.img__1900lg {
  width: 1900px;
  height: auto;
}
.img__1900u {
  width: 1900px;
  height: auto;
}
.img__1900b {
  width: 1900px;
  height: auto;
}
.img__1950 {
  width: 1950px;
  height: auto;
}
.img__1950sm {
  width: 1950px;
  height: auto;
}
.img__1950md {
  width: 1950px;
  height: auto;
}
.img__1950lg {
  width: 1950px;
  height: auto;
}
.img__1950u {
  width: 1950px;
  height: auto;
}
.img__1950b {
  width: 1950px;
  height: auto;
}